body{
    padding: 40px;
    background-image: linear-gradient(to left, rgb(66, 245, 188), white);
    margin: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;

}
.img{
    border: 5px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%
}

.img:hover{
    border: 10px dotted black;
}