<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fakebook.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Fakebook</title>
</head>
<body>
    <h1>My profile: Tjaša Trošt</h1>
    <img class="img" src="https://storage.googleapis.com/smartninja/smartninja-logo-2-png1507892784.png">
    <p>Hi! My name is Tjaša and this is an example of a profile page on Fakebook</p>
    <ul>
        <li><p>Name : <strong>Tjaša</strong></p></li>
        <li><p>Surname: <strong>Trošt</strong></p></li>
        <li><p>Age: <strong>21</strong></p></li>
        <li> <p>Current employment status: <strong>Full time employee at DM Drogerie markt</strong></p></li>
        <li> <p>Interests: <strong>Learning to code, reading, writing, music etc.</strong></p></li>
    </ul>
    <button>Add a friend</button>
    <br><br>
    <button>Block this profile</button>
    <br><br>
    Search another profile: <input type="text" placeholder="Enter a name">

</body>
</html>